<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="house_sale.dao.StaffDao">

    <select id="get_staff_ByName" parameterType="String" resultType="Staff">
        select staff_ID,staff_password,staff_state from staff where staff_name = #{name}
    </select>
</mapper>